@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Shadows+Into+Light&display=swap');

* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: lightgray;
}

body {
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: black;
   color: wheat;
   max-width: 1100px;
   margin: 0 auto;
}


